* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #2796e6;
}

#top-header {
  background: url("./assets/img/top-header-background-img.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
