* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #2796e6;
}

#top-header {
  background: url("./assets/img/top-header-background-img.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

header a {
  text-decoration: none;
  border-radius: 50%;
  /* border: 1px solid #fff; */
  /* background-color: #f3f3f3; */
  /* float: right; */
}

#ads {
  margin: 69px 470px;
  text-align: center;
  background-color: #59a5ff;
  color: #ff3636;
  font-size: 22px;
  padding: 10px;
}
